
.DS_Store
__pycache__/predict.cpython-312.pyc
__pycache__/train.cpython-312.pyc
__pycache__/utils.cpython-312.pyc
train_data/.DS_Store
train_data/anger/.DS_Store
train_data/disgust/.DS_Store
train_data/happy/.DS_Store
train_data
draft